body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de 'center' a 'flex-start' */
    min-height: 100vh; /* Asegura que el contenido ocupe todo el alto de la pantalla */
    margin: 0;
    padding-top: 50px; /* Añadido margen superior para separarlo del borde */
    text-align: center;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Añadido margen para separar el contenido */
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px; /* Añadido espacio para separación entre los encabezados */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: background-color 0.3s;
    background-color: #007bff;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media(min-width: 768px) {
    .btn {
        width: auto;
    }
}